<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>推荐分类</string>
		<key>plistName</key>
		<string>Recommand.plist</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>京东超市</string>
		<key>plistName</key>
		<string>Recommand.plist</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>国际名牌</string>
		<key>plistName</key>
		<string>Recommand.plist</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>奢侈品</string>
		<key>plistName</key>
		<string>Recommand.plist</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>全球购</string>
		<key>plistName</key>
		<string>Recommand.plist</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>男装</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>女装</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>男鞋</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>女鞋</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>内衣配饰</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>箱包手袋</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>美妆个护</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>钟表珠宝</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>手机数码</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>电脑办公</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>家用电器</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>食品生鲜</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>酒水饮料</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>母婴童装</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>玩具乐器</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>医疗保健</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>计生情趣</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>运动户外</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>汽车用品</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>家居厨具</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>家具家装</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>礼品鲜花</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>宠物生活</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>生活旅行</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>图书音像</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>邮币</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>农资绿植</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>特产馆</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>京东金融</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>拍卖</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>二手商品</string>
	</dict>
</array>
</plist>
