<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycles</key>
	<array>
		<dict>
			<key>img</key>
			<string>https://m.360buyimg.com/mobilecms/jfs/t6934/84/2308074854/43694/d3952571/598b26d0N25c9207d.jpg</string>
			<key>action</key>
			<string>https://sale.jd.com/m/act/56ymzKHYoGBEZD.html</string>
		</dict>
		<dict>
			<key>img</key>
			<string>https://m.360buyimg.com/mobilecms/jfs/t7093/187/567982277/52528/8353f141/5981ca15Ne659ccc2.jpg</string>
			<key>action</key>
			<string>https://pro.m.jd.com/mall/active/nXv5aYuBXMPrxZBh637CWi35X8F/index.html</string>
		</dict>
	</array>
	<key>models</key>
	<array>
		<dict>
			<key>name</key>
			<string>专场推荐</string>
			<key>models</key>
			<array>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t7060/21/1516428125/8778/4efa0fff/598293eaN334526b4.jpg</string>
					<key>name</key>
					<string>8.9箱包品类日</string>
					<key>action</key>
					<string>https://pro.m.jd.com/mall/active/3m7SyuQN3SnH9DEnLstVSYSEuN8L/index.html</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t7021/335/2048557253/39574/c282b982/59884e68Nf412aecd.png</string>
					<key>name</key>
					<string>六月黄尝鲜</string>
					<key>action</key>
					<string>https://pro.m.jd.com/mall/active/2w6LtojhmjxccRBF3CigMt4Hz6sA/index.html</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t5896/246/9189387183/6541/8ac37aae/5983f125N8aa67487.jpg</string>
					<key>name</key>
					<string>图书音像勋章日</string>
					<key>action</key>
					<string>https://pro.m.jd.com/mall/active/Zen6RsFGjG8kCYRXsXcAxbFKXfu/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>热门分类</string>
			<key>models</key>
			<array>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t5230/193/2382087236/7416/2254576a/591baf4eN44f5b6d2.jpg</string>
					<key>name</key>
					<string>手机</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t355/8/1537990392/4535/fc9624f9/543c8f91Nc72ce80f.jpg</string>
					<key>name</key>
					<string>笔记本</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t1036/25/1478729436/6331/21075b96/5732d23eNaa7c6917.jpg</string>
					<key>name</key>
					<string>空调</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t322/147/1505662488/3566/461716a8/543c8a6eNed7b6c7b.jpg</string>
					<key>name</key>
					<string>炒锅</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t979/98/194032793/11082/e3dd8c46/5507c2dbN67c0b7f8.jpg</string>
					<key>name</key>
					<string>啤酒</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t3649/51/409154956/7531/59b1f0a/5808846bN73e6b94a.png</string>
					<key>name</key>
					<string>儿童文学</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>https://m.360buyimg.com/mobile/s130x130_jfs/t1951/140/2866224626/11637/e9bb1b7a/571dc6a2N823c97f7.jpg</string>
					<key>name</key>
					<string>火车票</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
